@font-face {
    font-family: "San Francisco";
    src: url("SF-light.otf");
}

* {
  font-family: "San Francisco", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

body, html {
  min-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(250, 250, 250);
}

.sidebar {
  margin: 0px;
  float: left;
  height: 100%;
  overflow-y: scroll;
  width: 320px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-right: 1px solid #d7d7d7;
}

.sidebar-header{
  width: 320px;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  border-bottom: 1px solid #d7d7d7;
  vertical-align: middle;
  height: 44px;
  top: 0px;
  font-size: 16px;
  padding: 12px;
}

.search {
  top: 44px;
  position: absolute;
  width: 320px;
  height: 160px;
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
}

.search-text {
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  resize: none;
}

button {
  box-sizing: border-box;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  border: none;
  padding: 6px;
  border-radius: 4px;
  background-color: #0092EE;
  color: #ffffff;
}

.search button {
  margin-top: 4px;
  float: left;
  width: 96px;
  margin-right: 6px;
  height: 30px;
  line-height: 15px;
}

.test-button {
  background-color: #ffffff;
  color: rgb(140, 140, 140);
  border: 1px solid rgb(221, 221, 221);
}

.search-button {
  margin-right: 0 !important;
}

.students {
  position: absolute;
  top: 274px;
  width: 320px;
  overflow: scroll;
  bottom: 0px;
}

.student {
  position: relative;
  width: 100%;
  padding: 14px 10px;
  font-size: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #d7d7d7;
}

.selected {
  background-color: #eeeeee;
  border-right: 1px solid #d7d7d7;
}

.score {
  position: absolute;
  right: 8px;
  opacity: 0.4;
}

.grades {
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px;
  margin: 0px;
}

.grades h2 {
  margin: 0px;
}

.problem {
  width: 100%;
  float: left;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.problem-info {
  padding: 16px;
  float: left;
  width: 30%;
  text-align: right;
  font-size: 24px;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.problem-tests {
  float: left;
  width: 70%;
  box-sizing: border-box;
}

.problem-test {
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  padding: 12px 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.problem-test:last-child {
  border-bottom: none;
}

.result {
  position: absolute;
  right: 10px;
}

.passed {
  color: rgb(66, 184, 23);
}

.failed {
  color: rgb(193, 77, 77);
}

.test-score {
  font-size: 16px;
  margin-top: 6px;
  color: rgb(161, 161, 161);
}

.input input[type="text"]{
  font-size: 13px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  padding: 6px;
  height: 30px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  resize: none;
}

.input span {
  display: block;
  overflow: hidden;
  padding-right: 10px;
}

.input button {
  float: right;
  height: 30px;
  font-size: 13px;
  vertical-align: middle;
}

.reason {
  margin-top: 6px;
  color: rgb(161, 161, 161);
  font-size: 12px;
}

.grades h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 20px;
}

.problem-info a {
  text-decoration: none;
  font-size: 13px;
  color: #0092EE;
  display: block;
  margin-top: 8px;
}

.problem-info a:hover {
  text-decoration: underline;
}

.problem-info .name {
  display: block;
}
