@font-face {
    font-family: "San Francisco";
    src: url("SF-light.otf");
}

body {
  font-family: "San Francisco", "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1, h2, h3 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header {
  margin: 80px 0px;
}

h1 {
  margin: 14px 0px;
  font-size: 32px;
}

h2 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.error {
  text-wrap: none;
  background-color: #A44242;
  color: #fff !important;
  border-radius: 4px;
  padding: 4px 10px;
  margin: 6px auto;
  width: 580px;
}

.select-pset, .custom {
  color: rgb(0, 146, 238);
  line-height: 50px;
  padding: 0em 1em;
  font-size: 16px;
  border-radius: 6px 6px 0px 0px;
  border-top: 1px solid rgb(229, 229, 229);
  border-left: 1px solid rgb(229, 229, 229);
  border-right: 1px solid rgb(229, 229, 229);
}

.select-problems {
  width: 600px;
  margin: 0px auto;
}

.pset-wrapper {
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: middle;
}

.custom {
  margin-top: 20px;
}

.standalone {
  border-radius: 6px;
  line-height: 50px;
  border: 1px solid rgb(229, 229, 229);
}

.standalone input[type="radio"] {
  vertical-align: baseline;
  margin-right: 6px;
}

.standalone label {
  margin-right: 6px;
}

.custom-field {
  line-height: 50px;
}

.custom-field input[type="text"]{
  font-size: 13px;
  border-radius: 4px;
  width: 140px;
  border: 1px solid rgb(229, 229, 229);
  padding: 4px;
  box-sizing: border-box;
  /*
  font-size: 13px;
  border-radius: 4px;
  height: 24px;
  box-sizing: border-box;
  width: 140px;
  padding: 4px;
  border: 1px solid rgb(229, 229, 229);
  */
  display: inline-block;
  vertical-align: middle;
}

button {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  border-radius: 4px;
  border: none;
  background-color: rgb(0,146,238);
  padding: 4px;
  color: #fff;
  line-height:20px;
  /*
  height: 24px;
  box-sizing: border-box;
  margin: 0;
  padding: 6px;
  border: none;
  background-color: rgb(0,146,238);
  border-radius: 4px;
  color: #fff;
  */

}

ul {
  padding: 0px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0px 0px 6px 6px;
  margin: 0px;
}

li {
  font-size: 16px;
  color: rgb(103, 103, 103);
  list-style: none;
  margin: 0px;
  line-height: 20px;
  padding: 0.8em 1em;
  border-bottom: 1px solid rgb(223, 223, 233);
}

li:hover {
  cursor: pointer;
  color: rgb(153, 153, 153);
}

li:last-child {
  border-bottom: none;
}

.submitted, .loading {
  text-transform: uppercase;
  background: rgb(66, 184, 23);
  color: white;
  float: right;
  padding: 4px 12px;
  vertical-align: -50%;
  border-radius: 3px;
  font-size: 12px;
  position: relative;
  top: -2px;
}

.loading {
  background: rgb(103, 103, 103);
}

.load-nothing {
  opacity: 0.5;
  text-align: center;
  pointer-events: none;
}

.right {
  position: absolute;
  right: 0px;
  bottom: -6px;
}

.custom-field form {
  position: relative;
}

.custom-machine {
  border-radius: 6px;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 0.4em;
}
