@font-face {
  font-family: "San Francisco";
  src: url("sf.otf");
}

* {
  font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.gRekt {
  fill: white;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position:relative;
}

.gui {
  position:absolute;
  width: 100%;
  top: 100px;
  margin: 0;
  bottom: 0;
  float: left;
}

.transparent {
  opacity: 0;
}

.tape-char:focus {
  outline-color: transparent;
  outline-style: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.tape-bar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: fixed;
  bottom: 0px;
  padding: 10px;
  color: #fff;
  box-sizing: border-box;
  margin: 0px;
}

.tape-field-wrapper {
  height: 30px;
  overflow: hidden;
  border-radius: 3px;
}

.tape-field {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  width: auto;
  height: 60px;
  overflow-x: scroll;
  white-space:nowrap;
}

.tape-char, .tape-char-input {
  -webkit-appearance: none;
  border: none;
  padding: 6px;
  font-size: 14px;
  box-sizing: border-box;
  background: transparent;
  color: #fff;
  margin: 0px;
}

.tape-char-input {
  width: 100%;
  text-align: left;
  outline-width: 0;
}

.tape-char {
  width: 36px;
  height: 30px;
  border-left: 3px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.current-tape-char {
  border-left: 3px solid #0092EE;
}

.current-tape-char-solid {
  background-color: #0092EE;
}

.tape-char:nth-child(2) {
  border-left: none !important;
}

.tape-bar button {
  display: inline-block;
  font-size: 14px;
  padding: 0px 12px;
  margin-left: 6px;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  height: 30px;
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  transition: .1s ease;
}

.tape-bar button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.tape-bar button:active {
  background-color: rgba(255, 255, 255, 0.1);
}

svg {
  background-color: #FFF;
  outline-style: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
}

#sel-arrow path {
  stroke: blue;
}

path.edge {
  pointer-events: none;
}

path.selected {
  stroke: blue;
}

path.lower {
  stroke-width: 25px;
}

path {
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

text {
	text-anchor: middle;
	pointer-events: none;
  dominant-baseline: middle;
  alignment-baseline: middle;
  stroke-width: 0px;
  fill: #000;
}

.fileInput {
  display: none;
}

circle.inner {
  opacity: 0;
}

.accept circle.inner {
  opacity: 1;
}

.accept circle.outer {
  fill: #0f0;
}

.reject circle.inner {
  opacity: 1;
}

.reject circle.outer {
  fill: #f00;
}

.nodes {
  stroke: #000;
  stroke-width: 1.5px;
  fill: #fff;
}

.nodes .selected {
  stroke: blue;
}

.edges {
  stroke: #999;
}

.brush .extent {
  fill-opacity: .1;
  shape-rendering: crispEdges;
}

.tapeRect {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.json {
  display: none;
  width: 400px;
  height: 100px;
  margin-left: -200px;
  margin-top: -50px;
}

.tableWrapper {
  padding-bottom: 50px;
}

.tableEditor {
  display: none;
  width: 100%;
  border-collapse: collapse;
}

.tableEditor tr td {
  margin: 0;
  text-align: center;
}

.tableEditor tr:nth-child(odd) {
  background: rgb(247, 247, 247);
}

.tableEditor tr td:nth-child(1) {
  width: 10%;
}

.gridInput, .edgeChars, .nodeName, .bulkInput, .tmEdgeChars {
  -webkit-appearance:none;
  border:1px solid rgb(229, 229, 229);
  padding:6px;
  border-radius:3px;
  font-size: 14px;
  text-align:center;
}

.edgeChars, .nodeName {
  text-align: left;
}

textarea {
  height: 100%;
  resize: none;
}

.load {
  display: none;
}

.saveas {
  display: none;
}

.nodeEntry {
  display: none;
}

.nodeEntry .popupTitle {
  width: 342px;
}

.testing td {
  padding: 4px;
  line-height: 30px;
}

.testing textarea {
  border: 1px solid rgb(229,229,229);
}

.testing .layout {
  width: 100%;
}

.testing .layout input[type="text"] {
  width: 100%;
  text-align: right;
  margin: 0;
}

.testingHeader, .testingResults {
  padding: 0;
  margin: 0;
  width: 100%;
}

.testingHeader tr, .testingResults tr{
  line-height: 30px;
}

.edgeEntry {
  display: none;
}

.char-options {
  padding: 0px 10px 16px 10px;
}

.popup {
  position: fixed;
  top: 150px;
  left: 50%;
  z-index: 10;
  width: 400px;
  margin-left: -200px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.hidden {
  opacity: 0;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
}

/** UI **/
body {
  margin: 0px;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.menu {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  padding: 10px;
  color: rgb(83, 83, 83);
  background-color: #fff;
  min-width: 800px;
  border-bottom: 1px solid rgb(223, 223, 223);
  height: 50px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9;
}

.menu-secondary {
  top: 50px;
}

.left {
  position: absolute;
  left: 10px;
}

.right {
  position: absolute;
  right: 10px;
}

.center {
  position: absolute;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.contextual-menu {
  padding: 10px;
  font-size: 13px;
  box-sizing: border-box;
  position: absolute;
  background: transparent;
  width: 100%;
}

.errors {
  width: 100%;
  font-size: 14px;
  margin: 0 auto;
  top: 10px;
  text-align: center;
  line-height: 26px;
  position: fixed;
  top: 110px;
}

.error, .run-finished {
  display: inline-block;
  background-color: #A44242;
  color: #fff !important;
  border-radius: 4px;
  padding: 0px 8px; 
  margin: 4px;
}

.run-finished {
  background-color: rgb(77, 77, 77);
}

.accepted {
  background: rgb(66, 184, 23);
}

.rejected {
  background-color: rgb(77, 77, 77);
}

.menu button, .popup button, .popupRight button {
  padding: 0px 12px;
  border: 1px solid rgb(223, 223, 223);
  background-color: #fff;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 300;
  height: 30px;
  box-sizing: border-box;
  color: rgb(83,83,83);
  transition: background-color .2s ease, box-shadow .2s ease;
}

.menu button:hover, .popup button:hover {
  background-color: rgb(240, 240, 240);
}

.menu button:active, .popup button:active {
  background-color: rgb(240, 240, 240);
}

button.button-primary {
  background-color: rgb(0, 146, 238);
  border: none;
  color: #fff;
}

button.button-primary:hover {
  background-color: rgb(76, 178, 243);
}

.marked {
  background-color: #D2E7F5 !important;
  border: 1px solid #307FB2 !important;
  color: #307FB2 !important;
}

#selectedText {
  font-size: 14px;
  display: inline;
  padding: 6px;
  color: rgba(0, 0, 0, 0.5);
}

.sidePanel {
  float: right;
}

.popupLeft {
  text-align: right;
}

.popupRight {
  text-align: left;
}

.popupButtons {
  padding-top: 20px;
  float: right;
}

td {
  padding: 10px;
  text-align: right;
}

.modal-header {
  width: auto;
  font-size: 14px;
  padding: 10px;
  text-align: center;
}

.modal-content {
  background: rgb(247, 247, 247);
  max-height: 300px;
  overflow-y: scroll;
  padding: 8px;
  box-sizing: border-box;
}

.modal-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal-content li {
  padding: 10px;
  border-bottom: 1px solid rgb(229, 229, 229);
}

.modal-content li.selected {
  background-color: rgba(0, 146, 238, 0.8);
  color: #fff;
}

.saveas input[type="text"], .confirm input[type="text"] {
  width: 100%;
  margin: 0px auto;
  -webkit-appearance: none;
  padding: 6px;
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid rgb(229, 229, 229);
  display: block;
}

.modal-buttons {
  text-align: right;
  padding: 10px;
}

.load .modal-content {
  height: 200px;
}

.modal .bg {
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}

.modal-description {
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  margin: 8px;
  color: rgba(0, 0, 0, 0.6);
}

.confirm {
  display: none;
}

.submit {
  display: none;
}

.submit td {
  font-size: 14px;
  padding: 6px;
}

.submit input {
  width: 240px;
}

.testing {
  display: none;
  width: 600px;
  margin-left: -300px;
}

.alphabet-bar {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
  position: fixed;
  bottom: 60px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}

.current-alphabet, .current-mode, .current-tape-set-inner {
  color: black;
}

button.button-delete {
  background-color: rgb(193, 77, 77);
  color: #fff;
  border: 0;
  float: left;
}

button.button-delete:hover {
  background-color: rgb(229, 103, 103);
}

.modal.overlay {
  background-color: rgba(0, 0, 0, 0.1);
}

button[disabled], button[disabled]:hover, button[disabled]:focus, button[disabled]:active {
  opacity: 0.3 !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.murica {
  color: #fff;
  width: 100%;
  height: 30px;
  margin: 0 0 0 -20px;
  box-sizing: border-box;
  position: absolute;
  text-align: center;
  pointer-events: none;
  bottom: 4px;
}

.tmEdgeEntry {
  display: none;
}

.tmEdge {
  padding: 10px;
}

.tmEdge th {
  text-transform: uppercase;
  font-size: 11px;
  padding: 4px;
}

.tmEdge td, .tmEdge th {
  text-align: center;
}

.tmEdge td {
  padding: 4px;
}

.tmEdge .button-delete {
  float: none;
}

.testing td {
  text-align: center !important;
  padding: 0px 4px;
}

.inputs, .results {
  width: 100%;
}

.inputs td:nth-child(1) {
  width: 200px;
}

.inputs .bulkInput {
  text-align: center !important;
  box-sizing: border-box;
}

.inputs td:nth-child(2), .results td:nth-child(3) {
  width: 45px;
}

.results td:nth-child(1) {
  width: 150px !important;
}

.results td:nth-child(2), .results td:nth-child(3) {
  width: 70px !important;
}

.fixed-table-header {
  padding: 0px 8px;
}

.testing .popupLeft, .testing .popupRight {
  width: 50%;
}

td {
  box-sizing: border-box;
}
